/** {
  border: dotted orange 1px;
}*/

body {
  width: 901px;
}

header {
  display: inline-block;
  width: 901px;
}

#logo {
  display: inline;
  margin-left: 10px;
  position: relative;
  top: 20px;
}


#logotxt {
  /*position: relative;*/
  display: inline-block;
}

div {
  clear: both;
}

h3 {
  display:inline-block;
  font-family: cursive;
  font-size: 25px;
  color: black;
}

#data {
  font-size: 10px;
  
}

li a:before {
  content: "\2610";
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Coming Soon', cursive;
}

#lflist {
  display: inline-block;
}


#rtlist {
  display: inline-block;
}

#logotxt {
  color: #a1aba5;
  font-size: 8px;
  font-family: arial;
}

.navimg {
  float: right;
  margin-bottom: 50px;
}

div {
  height: 20px;
  background-color: #c0c6c3;
}

#recipe {
  background-image: url("images/list-bg.png");

}
