
/** {
  border: dotted orange 1px;
}*/

* {
  margin-left: 55px;
  margin-right: 40px;
}

body {
  width: 901px;
}

header {
  display: inline-block;
  width: 901px;
}

h3 {
  display:inline-block;
  font-family: cursive;
  font-size: 25px;
  color: black;
}


#logo {
  display: inline;
  margin-left: 10px;
  position: relative;
  top: 20px;
}

#logotxt {
  /*position: relative;*/
  display: inline-block;
}

div {
  clear: both;
}

.topDiv {
  height: 20px;
  width: 900px;
  background-color: gray;
}

#data {
  font-size: 10px;

}

li a:before {
  content: "\2610";
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Coming Soon', cursive;
}

#lflist {
  display: inline-block;
}


#rtlist {
  display: inline-block;
}

#logotxt {
  color: #a1aba5;
  font-size: 8px;
  font-family: arial;
}

.navimg {
  float: right;
  margin-bottom: 50px;
}


h2 {
  font-family: Oswald;
}

.print {
  position: relative;
  left: 825px;
  top: -10px;
}

.printWord {
  text-align: left;
  position: relative;
  left: 742px;
  top: -10px;
}
.hero {

}

/*div {
  height: 20px;
  background-color: #c0c6c3;
}*/

#recipe {
  background-image: url("images/list-bg.png");



article {
  text-indent: 30px;
  margin-top: 20px;
}

img {
  align-items: center;
  margin-left: 55px;
  margin-right: 40px;
}

#vanessa {
  margin-top: 15px;
}

h4 {
  margin-left: 160px;
  margin-top: -50px;
}

h5 {
  margin-left: 160px;
  margin-top: -15px;
}

.bottomDiv {
  height: 10px;
  width: 880px;
  position: relative;
  left:60px;
  background-color: gray;
