
/** {
  border: dotted orange 1px;
}*/

* {
  margin-left: 55px;
  margin-right: 40px;
}

body {
  width: 901px;
}

header {
  display: inline-block;
  margin-top: 40px;
  width: 901px;
}

h3 {
  display:inline-block;
  font-family: cursive;
  font-size: 25px;
  color: black;
}

#logo {
  display: inline;
  margin-left: 10px;
  position: relative;
  left: 45px;
  top: 20px;
}

#logotxt {
  color: black;
  position: relative;
  left: -40px;
  font-size: 25px;
  font-family: cursive;
  display: inline-block;
}

.slogan {
  font-size: 8px;
  color: grey;
  position:relative;
  top: -10px;
  left:30px;
}

nav {
  margin-left: 620px;
  position: relative;
  left: 45px;
  top: -30px;
}

.icons {
  margin-right: -50px;
  float: left;
  display: inline;
}

.topDiv {
  height: 20px;
  width: 900px;
  background-color: gray;
}

h2 {
  font-family: Oswald;
}

article {
  text-indent: 30px;
  margin-top: 20px;
}

li a:before {
  content: "\2610";
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Coming Soon', cursive;
}

#lflist {
  display: inline-block;
}


#rtlist {
  display: inline-block;
}


.navimg {
  float: right;
  margin-bottom: 50px;
}


.print {
  position: relative;
  left: 825px;
  top: -10px;
}

.printWord {
  text-align: left;
  position: relative;
  left: 742px;
  top: -10px;
}

/*div {
  height: 20px;
  background-color: #c0c6c3;
}*/

#recipe {
  background-image: url("images/list-bg.png");
}

img {
  align-items: center;
  margin-left: 55px;
  margin-right: 40px;
}

#vanessa {
  margin-top: 15px;
}

h4 {
  margin-left: 160px;
  margin-top: -50px;
}

h5 {
  margin-left: 160px;
  margin-top: -15px;
}

.bottomDiv {
  height: 10px;
  width: 880px;
  position: relative;
  left:60px;
  background-color: gray;
